ShadowOfTheTempest/Content/Maps/Level1.umap filter=lfs diff=lfs merge=lfs -text lockable
ShadowOfTheTempest/Content/Assets/Audio/Landscape_HanggliderCanvas02.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/ParticleEffects/P_BirdsDistant_Circling.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_Canyon_Stripes_02.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_Landscape_Cube_Tex.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_Sky_Cloud.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Audio/Landscape_WindAnimals01.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Materials/M_Bridge_Concrete.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Materials/M_Concrete_plate_01.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Meshes/SM_Path.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_Bird_D.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_HangingIce_SSS.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Blueprints/BP_Hang_Glider.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Materials/M_Cloud_Particle_Big.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Materials/M_UFO_Crash.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Meshes/SM_IceChunks_01.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_concrete_plate_01b_D.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_Env_Cube.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Meshes/SM_IcePlane.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Materials/M_Bird.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Materials/M_Bridge_Concrete_Inst.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_IceVeins.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_Path_N.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Materials/M_HangingIce.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Materials/M_IceChunks_01.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Audio/Landscape_Wind02.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Audio/Landscape_HanggliderMetal01.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Blueprints/Materials filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Materials/M_Ice_VertPaint.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Materials/M_Path_MAT_Inst.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Materials/MI_Concrete_Snowy_Inst.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_FullGrass_N.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Audio/Landscape.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Blueprints/Meshes filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Landscape/LayerInfoObject_Grass01.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_HangingIce_N.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_RockPile_01_N.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_Ice_Noise_N.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Blueprints/BP_Boost_Ring.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Meshes/Concrete_Tunel_01b_bend.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Meshes/SM_RockGravel.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Meshes/SM_RockGravel_02.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_concrete_plate_01_D.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_Glacier_CliffSide_N.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Audio/Landscape_HanggliderCrash01.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Landscape/M_Landscape_Master.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Audio/Landscape_Wind01.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_concrete_plate_01_N.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_Sand_Pebbles_N.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Meshes/SM_HangingIce03.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Meshes/SM_UFO_Main.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_GR_CliffWall_TanJaggy_02_D.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_Bridge_01_D.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_Landscape_Cube.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_LS_Grass_01_N.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Materials/M_Bridge_Metal.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_Cliff_N.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_COG_Base_Dirt_N.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_Rock_M.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Materials/MF_RB_Land_TwoLayerBlend_03Snow.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_Bridge_03_D.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_FlipbookBird_01_Lit_D.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_RB_LS_Dirt_01_DispAlpha02.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Materials/M_Cloud_Particle_Big_2.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Materials/M_Path_MAT.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Materials/MF_RB_Land_TwoLayerBlend_02Grass.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_Aurora01_Noise.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_LS_Snow_01_D_Disp.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Materials/M_Cliff_Snowy.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Meshes/SM_Cliffs.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/ParticleEffects/P_BirdsDistant_Flying.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Materials/MF_CheapContrast.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Meshes/SM_IceChunks_02.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/SnowMound_01_N.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_Cliff_M.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_Path_M.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Materials/M_BirdsDistant.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_IceSurface_ComplexNormal.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Audio/Landscape_HanggliderCrash02.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Materials/MF_RB_Land_TexCoords_01.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Materials/MI_Ice_VertPaint_Inst.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Materials/MI_Rock_Muddy_Inst.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/ParticleEffects/P_Clouds.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_LS_Grass_01_D.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Audio/A_Hang_Glider_Crash.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Blueprints/BP_Birds.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Landscape/MI_Landscape_Inst.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Materials/M_Cliff_Muddy_Inst.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Materials/MF_WorldAlignedTexture_Normal.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Materials/MI_Rock_Grassy_Inst.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Audio/A_Gust.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Meshes/SM_Bridge_A.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_concrete_plate_01b_N.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_Sand_Pebbles_D.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_StoneFloor_D.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Audio/Landscape_Ambient.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Landscape/LayerInfoObject_Snow01.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Meshes/Concrete_Tunel_01a.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_Ice_Noise.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Audio/Landscape_Birds.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_UFO_M.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Materials/M_Bird_Particle_Inst.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Audio/A_Birds.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Audio/Landscape_HanggliderCanvas01.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Materials/M_Bird_Inst.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Materials/MI_Concrete_Snowy_2_Inst.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/ParticleEffects/P_Clouds_Dense.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_LS_Dirt_01_N.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_GDC_Rocktest_01_N.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_RB_LS_Dirt_01_DispAlpha03.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Audio/A_Hang_Glider_Wind.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Audio/A_Landscape_Music_Cue.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Audio/Landscape_WindTrees01.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/ParticleEffects/P_BirdsClose_Circling.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/ParticleEffects/P_BirdsClose_Flying.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/ParticleEffects/V_Snow_Vector.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Blueprints/HangGlider_Gameinfo.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_Ice_Crystal_D_02.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_COG_Base_Dirt.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_SnowTop_N.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Blueprints/BP_HUD.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Blueprints/Effects filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Materials/MF_RB_Land_LayerSample_02.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Meshes/SM_Bird.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Meshes/SM_UFO_Hub.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_Bird_N.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_TilingNoise12.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Blueprints/C_Pitch_Curve.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Blueprints/Textures filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Materials/M_Rock_Snowy.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Meshes/SM_HangingIce02.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_FullGrass_D.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Assets/Textures/T_Gradient.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Enemies/Apparition/Textures/BH-2_SpecularSmoothness.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Enemies/Apparition/Textures/BH-2_Normal.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Enemies/Apparition/Materials/Apparition_Mesh.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Mannequin/Character/Mesh/SK_Mannequin.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Enemies/Skeleton/Texture/Skeleton_D.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Enemies/Skeleton/SkeletonPose.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/FXVarietyPack/Textures/T_ky_vortex04_4x4.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/FXVarietyPack/Textures/T_ky_smoke1.uasset filter=lfs diff=lfs merge=lfs -text
**/Textures/*.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/ParagonGideon/Characters/Global/MaterialLayers/Fabric/ filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/ParagonGideon/Characters/Global/MaterialLayers/Leather/ filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/ParagonGideon/Characters/Global/MaterialLayers/Metal/ filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/AncientTreasures/Textures/Unique/TX_Bangle_01a_NRM.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/AncientTreasures/Textures/Unique/TX_Bangle_01a_ALB.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/ParagonNarbash/Characters/Global/MaterialLayers filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Sounds/Level1.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/Sounds/Level1_Boss.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/LevelEnvironment/Textures/Ice/T_Cave_Ice_Noise_N.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/LevelEnvironment/Textures/Ice/T_Cave_Ice_Noise_D.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/LevelEnvironment/Earth/EarthBelow.uasset filter=lfs diff=lfs merge=lfs -text
ShadowOfTheTempest/Content/LevelEnvironment/Textures/Wet//T_Environment_Materials_Wet_FluidNormal02.uasset filter=lfs diff=lfs merge=lfs -text
